.home
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.home-regl
  opacity: 0.6

.home-title
  @extend %flex-c
  width: 100%
  background-position: 0% 0%
  height: 176px
  width: 431px
  margin: 0 auto
  max-width: 90%
  background-image: url("images/feedback_world.png")
  background-size: contain
  background-repeat: no-repeat

.home-instruction
  @extend %flex-c
  @extend %t-small
  flex-direction: column
  text-align: center