.ui-tooltip
  position: absolute
  height: $fsSmall
  pointer-events: none
  &--bottom
    bottom: -4px
    right: 4px
    transform: translateY(100%)
  &--top
    top: 4px
    right: 4px
    transform: translateY(100%)
  span
    color: $cWhite
    font-size: $fsSmall
    white-space: nowrap
    transform: skew(-16deg)