@import "normalize.css"
@import "views/home.sss"
@import "views/room.sss"
@import "views/ui.sss"

body
  background-color: #111

.dg
  z-index: 1000 !important

.app
  position: relative
  width: 100%
  min-height: 100vh
