@import "normalize.css"
@import "common.sss"
@import "views/home.sss"
@import "views/room.sss"
@import "views/ui.sss"

*
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased

body
  background-color: #222
  max-width: 100vw
  max-height: 100vh
  overflow: hidden
  font-family: "StellarM" !important

button
  font-family: "StellarM" !important

.dg
  z-index: 1000 !important

.app
  position: relative
  width: 100%
  min-height: 100vh


